<app-navbar (click) = "desplegarModal()" ></app-navbar>
<div class="content"> 
    <div *ngFor="let evento of eventosData">
        <mat-card class="car-event" *ngIf="evento.markets.length > 0">            
            <mat-card-header>            
                <mat-card-title> {{ evento.name }}</mat-card-title>            
            </mat-card-header>
            <div *ngFor="let market of evento.markets ">
                <mat-divider></mat-divider>
                <mat-card-content class="card-content">           
                        <mat-card-subtitle> {{ market.name }} </mat-card-subtitle>                      
                        <button class="spaceButton" *ngFor="let selection of market.selections"
                                (click) = "openDialog(evento.id,market.id,selection)"
                                mat-raised-button color="primary">{{ selection.name }} <br> {{ selection.price }}</button>                                
                </mat-card-content>
            </div>        
        </mat-card> 
    </div>   
   
</div>

