<mat-toolbar>
    <mat-toolbar-row>
        <span>IRIDIAN</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>  
</mat-toolbar>
  