<mat-dialog-content class="mat-typography">
    <div class="content">  
        <h2 mat-dialog-title>Lista de selecciones</h2>  
        <mat-card class="car-event" *ngFor="let seleccion of data; let i = index">
            <mat-divider></mat-divider>
            <mat-card-header>            
                <mat-card-title> {{ seleccion.name }}</mat-card-title>            
            </mat-card-header>
            <div>            
                <mat-card-content class="card-content">           
                        <mat-card-subtitle> {{ seleccion.price }} </mat-card-subtitle>                      
                        <button class="spaceButton" mat-flat-button color="warn"
                                (click) = "onNoClick(i)">
                            Eliminar
                        </button>                                 
                </mat-card-content>
            </div>
            <mat-divider></mat-divider>
        </mat-card>    
    </div>
    
</mat-dialog-content>
